@model Module6.Models.Samourai

<h4>Samourai</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Force)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Force)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Nom)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Arme)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Arme.Nom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ArtsMartiaux)
    </dt>

    @foreach (var artMartial in Model.ArtsMartiaux)
    {
        <dd>
            @Html.DisplayFor(modelItem => artMartial.Nom)
        </dd>
    }

    <dt>
        @Html.DisplayNameFor(model => model.Potentiel)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Potentiel)
    </dd>
</dl>